<table class="issue-table">
	<thead>
		<tr>
			<th class="witdh-col-min"><%= l(:created_on_date)%></th>
			<th class="witdh-col-min"><%= l(:start_date)%></th>
			<th class="witdh-col-min"><%= l(:due_date)%></th>
			<th class="witdh-col-min"><%= l(:status)%></th>
			<th class="witdh-col-large"><%= l(:description)%></th>
			<th class="witdh-col-min"><%= l(:spent_hours)%></th>
			<th class="witdh-col-min"><%= l(:filter_by_issues_requester)%></th>
			<th class="witdh-col-min"><%= l(:filter_by_issues_requester_sector)%></th>
			<th class="witdh-col-min"><%= l(:ocomon)%></th>
			<th class="witdh-col-min"><%= l(:priority)%></th>
		</tr>
	</thead>
	<tbody>
		<% issues.sort{|x,y| l(x.created_on) <=> l(y.created_on) }.each { |issue|%> 
			<tr>
				<td class="witdh-col-min"><%= issue.created_on.strftime('%d/%m/%Y') unless issue.created_on.nil? %></td>
				<td class="witdh-col-min"><%= issue.start_date.strftime('%d/%m/%Y') unless issue.start_date.nil? %></td>
				<td class="witdh-col-min"><%= issue.due_date.strftime('%d/%m/%Y') unless issue.due_date.nil? %></td>
				<td class="witdh-col-min <%= data.issues_status[issue.id.to_s] %>"><%=l(issue.planning_status)%></td>
				<td class="witdh-col-large">
					<%= link_to("##{issue.parent.id} > ", {:controller => "issues", :action => "show", :id => issue.parent.id}, :class => issue.parent.css_classes, :title => issue.parent.subject, :target => "_blank") if !issue.parent.nil? %> 
					
					<%= issue.project.name + " - " %><%= link_to("#{issue.tracker.name} ##{issue.id}", {:controller => "issues", :action => "show", :id => issue.id}, :class => issue.css_classes, :title => issue.subject, :target => "_blank") %><%= ": " + issue.subject %>
				</td>
				<td class="witdh-col-min" ><%= issue.spent_hours > 0 ? (link_to l_hours(issue.spent_hours), {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue}) : "-" %></td>

				<td class="witdh-col-min">
					
						<%= data.issues_requester[issue.id.to_s] %>
					
				</td>

				<td class="witdh-col-min">
					
						<%= data.issues_requester_sector[issue.id.to_s] %>
					
				</td>

				<td class="witdh-col-min">
					<% if (!data.issues_ocomon[issue.id.to_s].nil? && data.issues_ocomon[issue.id.to_s].length > 0) %>
						<a href="https://ocomon.sefaz.pi.gov.br/ocomon/geral/mostra_consulta.php?numero=<%= data.issues_ocomon[issue.id.to_s] %>" target="_blank"><%= data.issues_ocomon[issue.id.to_s] %></a>
					<% else %>
						-
					<% end %>
				</td>
				<td class="witdh-col-min"><%= data.issues_priority[issue.id.to_s] || '-' %></td>

			</tr>	
		<% }%>
	</tbody>
</table>