<div class="planning-redmine">
	<h2>
		<%=l(:people_based_planning)%> 
		<a href="#" id="label_open_button" style="display:none; font-size: 7pt;">(<%= l(:open) %> <%= l(:legend) %>)</a>
	</h2> 

	<fieldset id="legend">
		<legend><%= l(:legend) %> (<a href="#" class="planning-legend-close"><%= l(:close) %></a>)</legend>
		<ul>
			<li ><%= l(:no_issues) %></li>
			<li class="t_gray"><%= l(:paused) %></li>
			<li class="t_red" ><%= l(:overdue) %></li>
			<li class="t_green"><%= l(:in_time) %></li>
			<li class="t_yellow"><%= l(:unplanned) %></li>
		</ul>
	</fieldset>

	<div class="planning-config">

		<div class="planning-config-content">
			<h3 class="planning-config-title"><%= l(:newsearch) %>:</h3>
			<%= form_tag({:controller => "planning", :action => "planning_by_people"}, :method => "get") do %>

				<div class="planning-config-field">
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:filter_by_name) %>:</label>
						<%= text_field_tag :username, @param_username, class: 'planning-input-text' %>
					</div>
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:filter_by_issues) %>:</label>
						<div class="planning-config-field-input">

							<%= select_tag :issues_status, options_for_select([ [l(:filter_by_issues_with), 2], [l(:all), 0], [l(:filter_by_issues_none), 1], [l(:filter_by_issues_overdue), 3], [l(:filter_by_issues_unplanned), 4] ], @param_issues_status), class: 'planning-select' %>

						</div>
					</div>
				</div>
				
				<div class="planning-config-field">
					<label class="planning-config-field-label"><%= l(:filter_by_unity) %>:</label>
					<div class="planning-config-field-input">

						<%  @groups.sort{|x,y| x.id <=> y.id}.each { |data| %>
					    	<%= check_box_tag 'groups[]', data.id, (!@param_groups.nil? && @param_groups.include?(data.id.to_s)), :id => data.id %>
					         <span><%= data.name %></span>
					    <% } %>

					</div>
				</div>

				<div class="planning-config-field">
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:newsearch_dtini) %>:</label>
						<div class="planning-config-field-input">

							<div class="planning-input-group"> 
								<div class="input-group-addon">
									<span class="icon-calendar"></span>
								</div>
								<%= text_field_tag :dtini, @param_dtini, class: 'planning-input-text datepicker-here', :data => {:position => 'right top', :language => 'pt-br', :todayButton => 'true', :clearButton => 'true'} %>
							</div>

						</div>
					</div>
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:newsearch_dtend) %>:</label>
						<div class="planning-config-field-input">

							<div class="planning-input-group"> 
								<div class="input-group-addon">
									<span class="icon-calendar"></span>
								</div>
								<%= text_field_tag :dtend, @param_dtend, class: 'planning-input-text datepicker-here', :data => {:position => 'right top', :language => 'pt-br', :todayButton => 'true', :clearButton => 'true'} %>
							</div>
							
						</div>
					</div>
				</div>

				<div class="planning-config-field">
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:newsearch_dtini_estimated) %>:</label>
						<div class="planning-config-field-input">

							<div class="planning-input-group"> 
								<div class="input-group-addon">
									<span class="icon-calendar"></span>
								</div>
								<%= text_field_tag :dtini_estimated, @param_dtini_estimated, class: 'planning-input-text datepicker-here', :data => {:position => 'right top', :language => 'pt-br', :todayButton => 'true', :clearButton => 'true'} %>
							</div>

						</div>
					</div>
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:newsearch_dtend_estimated) %>:</label>
						<div class="planning-config-field-input">

							<div class="planning-input-group"> 
								<div class="input-group-addon">
									<span class="icon-calendar"></span>
								</div>
								<%= text_field_tag :dtend_estimated, @param_dtend_estimated, class: 'planning-input-text datepicker-here', :data => {:position => 'right top', :language => 'pt-br', :todayButton => 'true', :clearButton => 'true'} %>
							</div>
							
						</div>
					</div>
				</div>


				<div class="planning-config-field u-overflow-visible">

					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:filter_by_issues_requester) %>:</label>
						<div class="planning-config-field-input">
							<select name="requester" id="requester" class="chosen-select" data-placeholder="<%= l(:filter_by_issues_requester_palceholder) %>">
								<option value=""></option>
								<% @requesters.each { |data| %> 
									 <option value="<%= data %>" <%= 'selected="selected"' if @param_requester == data %> ><%= data %></option>
								<% } %>
							</select>
						</div>
					</div>
					
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:filter_by_issues_requester_sector) %>:</label>
						<div class="planning-config-field-input">
							<select name="requester_sector" id="requester_sector" class="chosen-select" data-placeholder="<%= l(:filter_by_issues_requester_sector_palceholder) %>">
								<option value=""></option>
								<% @requesters_sector.each { |data| %>
									 <option value="<%= data %>" <%= 'selected="selected"' if @param_requester_sector == data %> ><%= data %></option>
								<% } %>
							</select>
						</div>
					</div>

				</div>


				<div class="planning-config-field u-overflow-visible">
					
					<label class="planning-config-field-label"><%= l(:newsearch_projects) %>:</label>
					<div class="planning-config-field-input">

						<%= 

						select_tag "projects", options_from_collection_for_select(@projects, "id", "name", @param_projects), multiple: true, class: 'chosen-select', prompt: "", data: { placeholder: l(:newsearch_projects) }
						%>

					    <label>
					    	
 							<%= check_box_tag "filter_by_projects_not_in", "true", @param_projects_not_in %>

					      	<span><%= l(:newsearch_projects_exclude) %></span>
					    </label>
					</div>

				</div>

				<div class="planning-config-field">
					<%= button_tag l(:newsearch_btn), class: 'planning-btn planning-btn-primary' %>
					<%= button_tag "Limpar", type: :reset, class: 'planning-btn planning-reset-form' %>

					<a href="#" class="planning-btn planning-expand-form">Expandir Tarefas</a>
					<a href="#" class="planning-btn planning-compress-form u-hide">Comprimir Tarefas</a>
				</div>
			<% end %>
		</div>

	</div>

	<hr/>

	<div class="planning-summary">
		<h3 class="planning-summary-title">Sumário:</h3>
		<strong>Total de Tarefas Abertas:</strong>
		<span><%= @count_issues_opened %></span>
		<strong>Total de Tarefas Fechadas no Mês:</strong>
		<span><%= @count_issues_closed %></span>
	</div>

	<hr/>

	<% @users_grouped.sort{|x,y| x.order <=> y.order}.each { |data| %>
		<div class="planning-user" data-issues-opened="<%= data.issues.length %>" data-issues-overdue="<%= data.total_overdue %>" data-issues-unplanned="<%= data.total_unplanned %>">
			<a name="<%=data.user.id%>"/>
			<h3>
				<%= link_to_user(data.user) %>
			</h3>
			<%= render :partial => 'people_progress', :locals => {:data => data} %>
		</div>
	<% } %>


	<% content_for :header_tags do %>
		<!-- vendor -->
		<%= stylesheet_link_tag '../vendor/air-datepicker/css/datepicker.min', :plugin => 'planning_plugin_redmine', :media => 'all' %>
		<%= javascript_include_tag '../vendor/air-datepicker/js/datepicker.min', :plugin => 'planning_plugin_redmine' %>
		<%= javascript_include_tag '../vendor/air-datepicker/js/i18n/datepicker.pt-br', :plugin => 'planning_plugin_redmine' %>
		<%= javascript_include_tag '../vendor/formatter/jquery.formatter.min', :plugin => 'planning_plugin_redmine' %>
		<%= stylesheet_link_tag '../vendor/chosen_v1.5.0/chosen.min', :plugin => 'planning_plugin_redmine', :media => 'all' %>
		<%= javascript_include_tag '../vendor/chosen_v1.5.0/chosen.jquery.min', :plugin => 'planning_plugin_redmine' %>

		<!-- plugin -->
	  	<%= stylesheet_link_tag '../stylesheets-dist/trackers_progress_v1.1', :plugin => 'planning_plugin_redmine', :media => 'all' %>
	  	<%= javascript_include_tag 'planning_by_people', :plugin => 'planning_plugin_redmine' %>
	  	<%= javascript_include_tag 'issues_table', :plugin => 'planning_plugin_redmine' %>
	<% end %>

	<% html_title(l(:people_based_planning)) %>

</div>