<div class="planning-redmine">
	<h2>
		<%=l(:people_based_planning)%> 
		<a href="#" id="label_open_button" style="display:none; font-size: 7pt;">(<%= l(:open) %> <%= l(:legend) %>)</a>
	</h2> 

	<fieldset id="legend">
		<legend><%= l(:legend) %> (<a href="#" class="planning-legend-close"><%= l(:close) %></a>)</legend>
		<ul>
			<li ><%= l(:no_issues) %></li>
			<li class="t_gray"><%= l(:paused) %></li>
			<li class="t_red" ><%= l(:overdue) %></li>
			<li class="t_green"><%= l(:in_time) %></li>
			<li class="t_yellow"><%= l(:unplanned) %></li>
		</ul>
	</fieldset>

	<div class="planning-config">
		<div class="planning-config-content">
			<h3 class="planning-config-title"><%= l(:newsearch) %>:</h3>
			<%= form_tag({:controller => "planning", :action => "planning_by_people"}, :method => "get") do %>
				
				<div class="planning-config-field">
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:newsearch_dtini) %>:</label>
						<div class="planning-config-field-input">

							<div class="planning-input-group"> 
								<div class="input-group-addon">
									<span class="icon-calendar"></span>
								</div>
								<%= text_field_tag :dtini, @param_dtini, class: 'planning-input-text datepicker-here', :data => {:position => 'right top', :language => 'pt-br', :todayButton => 'true', :clearButton => 'true'} %>
							</div>

						</div>
					</div>
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:newsearch_dtend) %>:</label>
						<div class="planning-config-field-input">

							<div class="planning-input-group"> 
								<div class="input-group-addon">
									<span class="icon-calendar"></span>
								</div>
								<%= text_field_tag :dtend, @param_dtend, class: 'planning-input-text datepicker-here', :data => {:position => 'right top', :language => 'pt-br', :todayButton => 'true', :clearButton => 'true'} %>
							</div>
							
						</div>
					</div>
				</div>


				<div class="planning-config-field u-overflow-visible">

					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:filter_by_issues_requester) %>:</label>
						<div class="planning-config-field-input">
							<select name="requester" id="requester" class="chosen-select" data-placeholder="<%= l(:filter_by_issues_requester_palceholder) %>">
								<option value=""></option>
								<% @requesters.each { |data| %> 
									 <option value="<%= data %>" <%= 'selected="selected"' if @param_requester == data %> ><%= data %></option>
								<% } %>
							</select>
						</div>
					</div>
					
					<div class="planning-w50p">
						<label class="planning-config-field-label"><%= l(:filter_by_issues_requester_sector) %>:</label>
						<div class="planning-config-field-input">
							<select name="requester_sector" id="requester_sector" class="chosen-select" data-placeholder="<%= l(:filter_by_issues_requester_sector_palceholder) %>">
								<option value=""></option>
								<% @requesters_sector.each { |data| %>
									 <option value="<%= data %>" <%= 'selected="selected"' if @param_requester_sector == data %> ><%= data %></option>
								<% } %>
							</select>
						</div>
					</div>

				</div>


				<div class="planning-config-field u-overflow-visible">
					
					<label class="planning-config-field-label"><%= l(:newsearch_projects) %>:</label>
					<div class="planning-config-field-input">

						<%= 
						select_tag "projects", options_from_collection_for_select(@projects, "id", "name"), multiple: true, class: 'chosen-select', prompt: "", data: { placeholder: l(:newsearch_projects) }
						%>

					    <label>
					    	<%= hidden_field_tag "filter_by_projects_not_in", "false" %>
 							<%= check_box_tag "filter_by_projects_not_in", "true" %>
					      	<span><%= l(:newsearch_projects_exclude) %></span>
					    </label>
					</div>

				</div>

				<div class="planning-config-field">
					<%= button_tag l(:newsearch_btn), class: 'planning-btn planning-btn-primary' %>
				</div>
			<% end %>
		</div>

		<hr/>

		<div class="planning-config-content">
			<h3 class="planning-config-title"><%= l(:filters) %>:</h3>
			<div class="planning-config-field">
				<label class="planning-config-field-label"><%= l(:filter_by_unity) %>:</label>
				<div class="planning-config-field-input">
					<% @groups.sort{|x,y| x.id <=> y.id}.each { |data| %>
						<label>
					      <input name="filtro-unidades" value="<%= data.id %>" type="checkbox" /> 
					      <span><%= data.name %></span>
					    </label>
					<% } %>
				</div>
			</div>
			<div class="planning-config-field">
				<div class="planning-w50p">
					<label class="planning-config-field-label"><%= l(:filter_by_name) %>:</label>
					<input class="planning-input-text" type="text" name="filtro-username" />
				</div>
				<div class="planning-w50p">
					<label class="planning-config-field-label"><%= l(:filter_by_issues) %>:</label>
					<div class="planning-config-field-input">
						<select name="filtro-issues"  class="planning-select">
							<option value="0"> <%= l(:all) %> </option>
							<option value="1"> <%= l(:filter_by_issues_none) %> </option>
							<option value="2"> <%= l(:filter_by_issues_with) %> </option>
							<option value="3"> <%= l(:filter_by_issues_overdue) %> </option>
							<option value="4"> <%= l(:filter_by_issues_unplanned) %> </option>
						</select>
					</div>
				</div>
			</div>
		</div>

	</div>

	<hr/>

	<% @users_grouped.sort{|x,y| x.order <=> y.order}.each { |data| %>
		<div class="planning-user" data-issues-opened="<%= data.issues.length %>" data-issues-overdue="<%= data.total_overdue %>" data-issues-unplanned="<%= data.total_unplanned %>">
			<a name="<%=data.user.id%>"/>
			<h3>
				<%= link_to_user(data.user) %> 
				<small>- <%=l(:issue_opened_of, :count => data.issues.length) %> <%= l(:issue_total, :count => data.total_issues )%> </small>
			</h3>
			<%= render :partial => 'people_progress', :locals => {:data => data} %>
		</div>
	<% } %>


	<% content_for :header_tags do %>
		<!-- vendor -->
		<%= stylesheet_link_tag '../vendor/air-datepicker/css/datepicker.min', :plugin => 'planning_plugin_redmine', :media => 'all' %>
		<%= javascript_include_tag '../vendor/air-datepicker/js/datepicker.min', :plugin => 'planning_plugin_redmine' %>
		<%= javascript_include_tag '../vendor/air-datepicker/js/i18n/datepicker.pt-br', :plugin => 'planning_plugin_redmine' %>
		<%= javascript_include_tag '../vendor/formatter/jquery.formatter.min', :plugin => 'planning_plugin_redmine' %>
		<%= stylesheet_link_tag '../vendor/chosen_v1.5.0/chosen.min', :plugin => 'planning_plugin_redmine', :media => 'all' %>
		<%= javascript_include_tag '../vendor/chosen_v1.5.0/chosen.jquery.min', :plugin => 'planning_plugin_redmine' %>

		<!-- plugin -->
	  	<%= stylesheet_link_tag 'trackers_progress', :plugin => 'planning_plugin_redmine', :media => 'all' %>
	  	<%= javascript_include_tag 'planning_by_people', :plugin => 'planning_plugin_redmine' %>
	<% end %>

	<% html_title(l(:people_based_planning)) %>

</div>